.banner h1 {
  margin-left: 250px;
  padding-bottom: 0px;
}

.banner p{
  margin-left: 250px;
  color: rgb(179,179,179);
  font-size: 20px;
  padding-bottom: 10px;
}

.card h2 {
  font-size: 20px;
}

.card p {
  font-size: 12px;
  color: rgb(179,179,179);
  margin: 5px;
}

.logos a {
  font-size: 50px;
  text-decoration: none;
  color: rgb(252, 158, 79);
}

.footer p {
  color: rgb(179,179,179);
}
